include _mixins

mixin resultItem(doc)
  a.search-result(href=doc.url)
    .search-img(style=doc.image)
    .search-subtitle= doc.subtitle
    .search-title= doc.title

//- Show popular courses when no search query provided
if !(req.query.q)
  .search-section= __('Popular Courses')
  for doc in config.search.popular
    +resultItem(search.docs[doc])

//- If a query exists but no results, show no-results
if req.query.q && !search.results.length
  .no-results
    include ./svgs/abakus.svg
    | No results found…

//- Show search results when there are results
if req.query.q && search.results.length
  for doc in search.results
    if doc.type === 'gloss'
      .search-gloss!= doc.subtitle
    if doc.type !== 'gloss'
      +resultItem(doc)
